<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zeroeden.dao.UserRoleDao">
    <insert id="addUsrRole" parameterType="cn.zeroeden.domain.auth.UserRole">
        insert into
            t_user_role(
                        id,
                        userId,
                        roleId,
                        createTime
        ) values (
                  #{id},
                  #{userId},
                  #{roleId},
                  #{createTime}
                         )
    </insert>


    <select id="getUserRolesByUserId" parameterType="java.lang.Long" resultType="cn.zeroeden.domain.auth.UserRole">
        select
            ur.*,
            ar.name roleName,
            ar.code roleCode
        from
            t_user_role ur
            left join t_auth_role ar on ur.roleId = ar.id
        where
            ur.roleId = #{userId}
    </select>
</mapper>