<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zeroeden.dao.VideoDao">

    <insert id="addVideos" parameterType="cn.zeroeden.domain.Video" keyProperty="id" useGeneratedKeys="true">
        insert into
            t_video(
                    userId,
                    url,
                    thumbnail,
                    title,
                    type,
                    duration,
                    area,
                    description,
                    createTime
        ) values (
                  #{userId},
                  #{url},
                  #{thumbnail},
                  #{title},
                  #{type},
                  #{duration},
                  #{area},
                  #{description},
                  #{createTime}
                         )
    </insert>
    <insert id="addVideoLike" parameterType="cn.zeroeden.domain.VideoLike" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_video_like(
                         userId,
                         videoId,
                         createTime
        ) values (
                  #{userId},
                  #{videoId},
                  #{createTime}
                         )
    </insert>
    <insert id="addVideoCollection" keyProperty="id" useGeneratedKeys="true" parameterType="cn.zeroeden.domain.VideoCollection">
        insert into
            t_video_collection(
                               videoId,
                               userId,
                               groupId,
                               createTime
        ) values (
                  #{videoId},
                  #{userId},
                  #{groupId},
                  #{createTime}
                         )
    </insert>
    <insert id="addVideoCoin" parameterType="cn.zeroeden.domain.VideoCoin" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_video_coin(
                         userId,
                         videoId,
                         amount,
                         createTime,
                         updateTime
        )
        values(
               #{userId},
               #{videoId},
               #{amount},
               #{createTime},
               #{updateTime}
              )
    </insert>
    <insert id="addVideoComment" parameterType="cn.zeroeden.domain.VideoComment" keyProperty="id" useGeneratedKeys="true">
        insert into
            t_video_comment(
                          videoId,
                            userId,
                            comment,
                            replyUserId,
                            rootId,
                            createTime
        ) values (
                  #{videoId},
                  #{userId},
                  #{videoId},
                  #{comment},
                  #{replyUserId},
                  #{rootId},
                  #{createTime}
                         )
    </insert>
    <insert id="addVideoView" parameterType="cn.zeroeden.domain.VideoView" useGeneratedKeys="true" keyProperty="id">
            insert into
                t_video_view(videoId,
                             userId,
                             clientId,
                             ip,
                             createTime)
            values (#{videoId},
                    #{userId},
                    #{clientId},
                    #{ip},
                    #{createTime})
    </insert>
    <update id="batchAddVideoTags" parameterType="java.util.List">
        insert into
            t_video_tag(
                        videoId,
                        tagId,
                        createTime
        ) values 
            <foreach collection="tagsList" item="videoTag" separator=",">
                (
                 #{videoTag.videoId},
                 #{videoTag.tagId},
                 #{videoTag.createTime}
                )
            </foreach>
    </update>
    <update id="updateVideoCoin" parameterType="cn.zeroeden.domain.VideoCoin">
        update
            t_video_coin
        set
            amount = #{amount}
        where
            id = #{id};
    </update>

    <delete id="deleteVideoLikeByUserIdAndVideoId">
        delete from
                   t_video_like
        where
            userId = #{userId}
            and videoId = #{videoId}
    </delete>
    <delete id="deleteVideoCollectionByUserIdAndVideoId">
        delete from
                   t_video_collection
        where
            userId = #{userId}
            and videoId = #{videoId}
    </delete>
    <select id="pageCountVideos" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
            count(1)
        from
            t_video
        where
            1 = 1
            <if test="area != null and area != '' ">
                and area = #{area}
            </if>
    </select>
    <select id="pageListVidoes" parameterType="java.util.Map" resultType="cn.zeroeden.domain.Video">
        select
            *
        from
            t_video
        where
            1 = 1
            <if test="area != null and area != '' ">
                and area = #{area}
            </if>
        order by id desc
        limit #{start},#{limit}

    </select>
    <select id="getVideoByVideoId" resultType="cn.zeroeden.domain.Video" parameterType="java.lang.Long">
        select
            *
        from
            t_video_like
        where
            videoId = #{videoId}
    </select>
    <select id="getVideoLikeByVideoIdAndUserId" resultType="cn.zeroeden.domain.VideoLike">
        select
            *
        from
            t_video_like
        where
            videoId = #{videoId}
            and userId = #{userId}
    </select>
    <select id="countVideoLikes" resultType="java.lang.Long">
        select
            count(1)
        from
            t_video_like
        where
            videoId = #{videoId}
    </select>
    <select id="getVideoById" resultType="cn.zeroeden.domain.Video">
        select
            *
        from
            t_video
        where
            id = #{id}
    </select>
    <select id="countVideoCollections" resultType="java.lang.Long">
        select
            count(1)
        from
            t_video_collection
        where
            videoId = #{videoId}
    </select>
    <select id="getVideoCollectionByVideoIdAndUserID" resultType="cn.zeroeden.domain.VideoCollection">
        select
            *
        from
            t_video_collection
        where
            videoId = #{videoId}
            and userId = #{userId};
    </select>
    <select id="getVideoCoinByVideoIdAndUserId" resultType="cn.zeroeden.domain.VideoCoin">
        select
            *
        from
            t_video_coin
        where
            videoId = #{videoId}
            and userId = #{userId}

    </select>
    <select id="countVideoCoinsAmount" resultType="java.lang.Long">
        select
            sum(amount)
        from
            t_video_coin
        where
            videoId = #{videoId}
    </select>
    <select id="pageCountVideoComments" resultType="java.lang.Integer">
            select
                count(1)
            from
                t_video_comment
            where
                videoId = #{videoId}
              and rootId is null

    </select>
    <select id="pageListVideoComments" resultType="cn.zeroeden.domain.VideoComment">
        select
            *
        from
            t_video_comment
        where
            videoId = #{videoId}
            and rootId is null
        order by id desc
        limit #{start}, #{limit}
    </select>
    <select id="batchGetVideoCommentsByRootIds" resultType="cn.zeroeden.domain.VideoComment">
        select
            *
        from
            t_video_comment
        where
            rootId in
            <foreach collection="parentList" separator="," open="(" close=")" item="child">
                #{child}
            </foreach>
        order by id
    </select>
    <select id="getVideoDetailById" resultType="cn.zeroeden.domain.Video">
        select
            *
        from
            t_video
        where
            id = #{id}
    </select>
    <select id="getVieoView" resultType="cn.zeroeden.domain.VideoView">
        select
            *
        from
            t_video_view
        where
            videoId = #{videoId}
            <if test="userId == null and clientId != nuill">
                and clientId = #{clientId} and userId is null
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="ip != null and ip != '' ">
                and ip = #{ip}
            </if>
            <if test="today != null and today != '' ">
                and DATE_FORMAT(createTime, '%Y-%m-%d') = #{today}
            </if>
    </select>
    <select id="getVideoViewCounts" resultType="java.lang.Integer">
        select
            count(1)
        from
            t_video_view
        where
            videoId = #{videoId}
    </select>
</mapper>